/****** Object:  Table [dbo].[TaxiLocationLookup]    Script Date: 2022/01/24 11:24:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaxiLocationLookup](
	[LocationID] [int] NULL,
	[Borough] [varchar](100) NULL,
	[Zone] [varchar](100) NULL,
	[ServiceZone] [varchar](100) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[TaxiLocationLookup] ([LocationID], [Borough], [Zone], [ServiceZone]) VALUES (1, N'EWR', N'Newark Airport', N'EWR')
INSERT [dbo].[TaxiLocationLookup] ([LocationID], [Borough], [Zone], [ServiceZone]) VALUES (2, N'Queens', N'Jamaica Bay', N'Boro Zone')
INSERT [dbo].[TaxiLocationLookup] ([LocationID], [Borough], [Zone], [ServiceZone]) VALUES (3, N'Bronx', N'Allerton/Pelham Gardens', N'Boro Zone')
GO
